<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>fitness_center</mat-icon>
    <span style="padding-left: 10px;">Fit Club</span>

    <span class="example-spacer"></span>

    <div>
      <a mat-button [routerLink]="'home'"> Home </a>
      <a mat-button [routerLink]="'register-form'"> Register </a>
      <a mat-button [routerLink]="'about-us'"> About us </a>
      <a mat-button [routerLink]="'/login'"> <mat-icon>logout</mat-icon> </a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
