<div class="container">
  <div>
    <h1>Fit Club Registration Form</h1>
    <form (ngSubmit)="onSubmit(registrationForm.value)" #registrationForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <textarea type="text" class="form-control" id="alterEgo"
               [(ngModel)]="model.address" name="address" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="alterEgo"
               [(ngModel)]="model.email" name="email">
      </div>

      <div class="form-group">
        <label for="activity">Activity</label>
        <select class="form-control" id="power"
                required
                [(ngModel)]="model.activity" name="activity"
                #power="ngModel">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Activity is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!registrationForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="registrationForm.reset()">Clear</button>
     <!-- - -->
    </form>
  </div>
</div>


<div class="table-style" *ngIf="loginService.loggedUser.userType == 'admin'">
  <div style="width: 80%;">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
</div>
</div>