
<section class="banner">
  <div class="slider">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="container">
          <div class="wrapper d-flex">
            <div class="content">
              <h1>Ready to Take a Fundamentals of Yoga Class in 14 Days?</h1>
              <h4>Proin scelerisque fringilla magna bibendum dui tempor
                velnteger accumsan fermentum leousce viverraelnteger accumsan
                fermentum leousce viverra auctor magna orem ipsums simple.</h4>
              <a href="#">Contact Us</a>
            </div>
            <div class="image">
              <img src="assets/home_styles/images/slider/slider-01.png">
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="wrapper d-flex">
            <div class="content">
              <h1>Ready to Take a Fundamentals of Yoga Class in 14 Days?</h1>
              <h4>Proin scelerisque fringilla magna bibendum dui tempor
                velnteger accumsan fermentum leousce viverraelnteger accumsan
                fermentum leousce viverra auctor magna orem ipsums simple.</h4>
              <a href="#">Contact Us</a>
            </div>
            <div class="image">
              <img src="assets/home_styles/images/slider/slider-02.png">
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="wrapper d-flex">
            <div class="content">
              <h1>Ready to Take a Fundamentals of Yoga Class in 14 Days?</h1>
              <h4>Proin scelerisque fringilla magna bibendum dui tempor
                velnteger accumsan fermentum leousce viverraelnteger accumsan
                fermentum leousce viverra auctor magna orem ipsums simple.</h4>
              <a href="#">Contact Us</a>
            </div>
            <div class="image">
              <img src="assets/home_styles/images/slider/slider-03.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-media">
      <ul>
        <li>
          <a><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a><i class="fab fa-pinterest-p"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="bg-01">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>Our Process</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-ruler-horizontal"></i></li>
          </ol>
          <p>ANALYSE YOUR GOAL</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-ruler-combined"></i></li>
          </ol>
          <p>WORK HARD ON IT</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-thumbs-up"></i></li>
          </ol>
          <p>IMPROVE YOUR PERFORMANCE</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="wrapper">
          <ol>
            <li><i class="fal fa-trophy"></i></li>
          </ol>
          <p>ACHIEVE YOUR DESTINY</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-02">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>programs</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content programs">
            <div class="image">
              <img src="assets/home_styles/images/class/1.jpg">
            </div>
            <div class="sentence">
              <h2>HATHA YOGA</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Libero, at blanditiis nesciunt itaque, porro autem animi
                aperiam aliquid alias neque, dolores perspiciatis illo aspernatur
                deserunt necessitatibus accusantium minima sunt optio.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content programs">
            <div class="image">
              <img src="assets/home_styles/images/class/2.jpg">
            </div>
            <div class="sentence">
              <h2>GYM</h2>
              <p>Bodybuilding is the use of progressive resistance exercise to build, control,
                 and develop one's muscles via hypertrophy. An individual who engages in this activity is referred to as a bodybuilder</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content programs">
            <div class="image">
              <img src="assets/home_styles/images/class/aerobics.jpg">
            </div>
            <div class="sentence">
              <h2>Aerobics</h2>
              <p>Aerobic exercise is physical exercise of low to high intensity that depends primarily on the aerobic energy-generating process.
                "Aerobic" is defined as "relating to, involving, or requiring oxygen", and refers to the use of oxygen to meet energy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-03">
  <div class="wrapper d-flex">
    <div class="left">
      <div class="image">
      </div>
    </div>
    <div class="right">
      <div class="content">
        <h2>WHAT WE DO</h2>
        <ol>
          <li>
            <img src="assets/home_styles/images/icons/1.png">
            <h3>WEEKLY CHALLENGE</h3>
            <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Error tenetur veritatis sed a ea quae.
              Accusantium magni laudantium repellendus dolore dignissimos.</p>
          </li>
          <li>
            <img src="assets/home_styles/images/icons/2.png">
            <h3>PERSONAL TRAINER</h3>
            <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Error tenetur veritatis sed a ea quae.
              Accusantium magni laudantium repellendus dolore dignissimos.</p>
          </li>
          <li>
            <img src="assets/home_styles/images/icons/3.png">
            <h3>GROUP CLASSES</h3>
            <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Error tenetur veritatis sed a ea quae.
              Accusantium magni laudantium repellendus dolore dignissimos.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="bg-04">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>OUR TEAM</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/3.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Sreeja</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/2.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Vikram</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/1.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Imel</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="team-main-box">
          <img src="assets/home_styles/images/team/4.jpg">
          <div class="team-content-box">
            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-instagram"></i></li>
            </ul>
            <h3>Aarthi</h3>
            <b>Trainer</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-05">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>LATEST NEWS</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <article class="_kl_cd">
          <div class="_i-tr">
            <img src="assets/home_styles/images/blog/1.jpg">
          </div>
          <div class="_oi_er_we">
            <h3>Girlfriends in the gym stock</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis....
            </p>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <article class="_kl_cd">
          <div class="_i-tr">
            <img src="assets/home_styles/images/blog/2.jpg">
          </div>
          <div class="_oi_er_we">
            <h3>Girlfriends in the gym stock</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis....
            </p>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <article class="_kl_cd">
          <div class="_i-tr">
            <img src="assets/home_styles/images/blog/3.jpg">
          </div>
          <div class="_oi_er_we">
            <h3>Girlfriends in the gym stock</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis....
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

